<div [ngClass]="{ 'container' : !this.themeStateService.getIsDarkTheme() , 'container-dark' : this.themeStateService.getIsDarkTheme() }">
  <h1>Исполнители</h1>
  <hb-loader class="loader" *ngIf="isLoading"></hb-loader>
  <div class="artist-list" *ngIf="artists.length && !isLoading">
    <div class="artist-item" *ngFor="let artist of artists">
      <hb-round-artist-card [artist]="artist"></hb-round-artist-card>
    </div>
  </div>
  <div class="empty" *ngIf="!artists.length && !isLoading">
    <nz-empty nzNotFoundImage="simple" nzNotFoundContent="Список подписок пуст"></nz-empty>
  </div>
</div>
