<div>
  <p>1. Огромный, но прикольный лоадер "на любителя"</p>
  <div class="container">
    <div class="loader">
      <span>H</span>
      <span>E</span>
      <span>A</span>
      <span>R</span>
      <span>T</span>
      <span>B</span>
      <span>E</span>
      <span>A</span>
      <span>T</span>

      <div class="covers">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div style="display: flex; justify-content: space-around;">
    <div>
      <p>2. Бьющееся сердце</p>
      <div class="two">
        <div class="heart"></div>
      </div>
    </div>

    <div>
      <p>3. Loader из ant.design</p>
      <div class="example">
        <nz-spin nzSimple></nz-spin>
      </div>
    </div>

    <div>
      <p>4. Еще один лоадер</p>
      <div style="position: relative">
        <div class="middle">
          <div class="bar bar1"></div>
          <div class="bar bar2"></div>
          <div class="bar bar3"></div>
          <div class="bar bar4"></div>
          <div class="bar bar5"></div>
          <div class="bar bar6"></div>
          <div class="bar bar7"></div>
          <div class="bar bar8"></div>
        </div>
      </div>

    </div>
  </div>
</div>
