@import '../../../assets/styles/colors.less';

.home__routes, .home__routes-dark {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: @inactive-header;
    margin-right: 55px;
    &:hover {
      cursor: pointer;
    }
  }
  .active {
    color: @black;
    font-weight: 600;
  }
}

.home__routes-dark {
  .active {
    color: @white;
    font-weight: 600;
  }
}