.home__routes {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: start;

  h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #7D7D7D;
    margin-right: 55px;
    &:hover {
      cursor: pointer;
    }
  }
  .active {
    color: #000000;
    font-weight: 600;
  }
}
