@import "../../../../assets/styles/colors";

.track, .track-dark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 70px;

  &-contain {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__img {
      margin: 10px 20px;
      min-height: 50px;
      min-width: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 10px;

      img {
        display: none;
        width: 30px;
        margin: auto;
      }

    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &__artist {
        font-weight: bold;
        display: flex;
        flex-direction: row;

        p {
          cursor: pointer;
          margin: 0 10px 0 0;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 230px;
          color: @black;
          white-space: nowrap;

          @media (max-width: 400px) {
            width: 150px;
          }
        }
      }

      &__name {
        text-align: left;
        color: @black;
        width: 230px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        @media (max-width: 400px) {
          width: 150px;
        }
      }
    }
  }

  &-time {
    margin-right: 15px;
    color: @black;
  }
}

.track:hover {
  background: @snowy;
}

.track:hover img {
  display: block;
}

.track-dark {
  *, p {
    color: @white;
  }
  &:hover {
    background: @snowy;
    *, p {
      color: @black;
    }
  }
  :hover img {
    display: block;
  }
}
