<div class="track" [ngStyle]="{'min-width': isCard ? '60px' : '280px'}">
  <div class="track-contain">
    <div [ngStyle]="{'background-image': 'url(' + _track.album!.images[0].url + ')',
                      'margin': isCard ? '10px 8px' : '10px 20px'}"
         class="track-contain__img"
         (click)="controlPlayerCurrentTrack()">
      <img src="{{isPlay ? 'assets/svg/pause-track.svg' : 'assets/svg/play-track.svg'}}" alt="album">
    </div>
    <div class="track-contain-info" *ngIf="!isCard">
      <div class="track-contain-info__artist">
        <p
          *ngIf="artistNameList">
          {{artistNameList}}
        </p>
      </div>
      <div class="track-contain-info__name">{{_track.name}}</div>
    </div>
  </div>
  <div *ngIf="!isCard" class="track-time">{{trackTime | timeFormat}}</div>
</div>
