@import "../../../../assets/styles/colors";

.track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 70px;

  &-contain {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__img {
      margin: 10px 20px;
      min-height: 50px;
      min-width: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 10px;

      img {
        display: none;
        width: 30px;
        margin: auto;
      }

    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &__artist {
        font-weight: bold;
        cursor: pointer;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        white-space: nowrap;

        p {
          margin: 0 3px 0 0;
          text-overflow: ellipsis;
        }
      }

      &__name {
        text-align: left;
      }
    }
  }

  &-time {
    margin-right: 15px;
  }
}

.track:hover {
  background: @snowy;
}

.track:hover img {
    display: block;
}
