<div class="artist-card">
  <button (click)="subscription !== true ? subscribeArtist() : unsubscribeArtist()" nz-button nzType="default"
          nzSize="default"
          nzShape="round"
          class="artist-card__follow">
    {{subscription !== true ? "Подписаться" : "Отписаться"}}
  </button>
  <div class="artist-card__img"
       [ngStyle]="
       {'background-image': artistInfo.images[0]?.url ? 'url(' + artistInfo.images[0].url + ')' : 'url(../../../assets/image/default-artist-image.png)'}">
  </div>
  <p class="artist-card__name">{{artistInfo.name}}</p>
  <p class="artist-card__followers">{{artistInfo.followers.total}} подписчиков</p>
  <p class="artist-card__genres">{{artistInfo.genres.length >= 1 ? artistInfo.genres : "Улыбнись :)"}}</p>
  <div *ngIf="changeTopTracks" class="artist-card__top-tracks">
    <div *ngFor="let track of changeTopTracks.items">
      <hb-track (playTrack)="setListTrackIntoPlayer()" [trackContext]="trackContext" [track]="track.track" [isCard]="isCard"></hb-track>
    </div>
  </div>
  <button nz-button nzType="default"
          nzSize="default"
          nzShape="round"
          class="artist-card__more-information"
          [routerLink]="['/artist', artistInfo.id]">
    Подробнее
  </button>
</div>
