<div class="artist-card">
  <button nz-button nzType="default"
          nzSize="default"
          nzShape="round"
          class="artist-card__follow">
    Подписаться
  </button>
  <div class="artist-card__img"></div>
  <p class="artist-card__name">Linkin Park</p>
  <p class="artist-card__followers">6003453 подписчиков</p>
  <p class="artist-card__genres">R&B</p>
  <div class="artist-card__top-tracks"></div>
  <button nz-button nzType="default"
          nzSize="default"
          nzShape="round"
          class="artist-card__more-information">
    Подробнее
  </button>
</div>
