<div class="album" (click)="openAllPlaylist(album)" (contextmenu)="openDropdownMenu($event, menu)">
  <div class="album__img" [ngStyle]="{'background-image': 'url(' + album.images[0].url + ')'}"></div>
  <div class="album__info">
    <span class="album__name">{{album.name}}</span>
    <span class="album__release-date">{{album.release_date}}</span>
  </div>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item
          (click)="isFollow ? deleteAlbumFromFavorite() : addAlbumToFavorite()">
        {{isFollow ? "Удалить из избранного" : "Добавить в избранное"}}</li>
    </ul>
  </nz-dropdown-menu>
</div>

<ng-container *ngIf="isVisible">
  <div class="modal" (click)="handleCancel()">
    <div class="modal__content" (click)="$event.stopPropagation()" [ngStyle]="{'background' : switchMode()}">
      <p class="info-close" (click)="handleCancel()">x</p>
      <div class="info">
        <div class="playlist-info">
          <div class="playlist-info__img" [ngStyle]="{'background-image': 'url(' + album.images[0].url + ')'}"></div>
          <img class="playlist-info__vinyl" src="assets/image/vinyl-record.png" alt="vinyl icon"/>
        </div>
        <p class="playlist-info__name">{{album.name}}</p>
      </div>
              <hb-track-list [trackContext]="trackListContext" [trackList]="trackList"></hb-track-list>
    </div>
  </div>
</ng-container>
