<div [ngClass]="{ 'playlist' : !this.themeStateService.getIsDarkTheme() , 'playlist-dark' : this.themeStateService.getIsDarkTheme() }">
    <div class="card" (click)="playPlaylist(playlist.id)" [ngStyle]="{'background' : isActive ? '#C4C4C430' : 'none'}">
        <div class="card__bg" [ngStyle]="
            {'background-image' : 'url(' + playlist.images[0].url + ')'}">
        </div>
        <div class="card__descr">
            <div class="card__descr-title">{{playlist.name}}</div>
        </div>
    </div>
</div>
