<div class="player">
  <div class="player__current-track">
    <img src="https://i.scdn.co/image/ab67616d00004851cf5459850259268f98b07f7a" alt="#">
    <div class="player__info-about-track">
      <span class="player__artist-name">The Weeknd</span>
      <span class="player__track-name">The Hills</span>
    </div>
  </div>
  <div class="player__control">
    <div class="player__control-items">
      <button class="player__previous-track">
      <object
        type="image/svg+xml"
        data="../../../assets/svg/previous.svg"
        width="20px"
        height="20px"
      ></object>
    </button>
      <button class="player__play" (click)="changePlayerState()">
      <object
        type="image/svg+xml"
        data = "../../../assets/svg/play1.svg"
        width="20px"
        height="20px"
      ></object>
      </button>
      <button class="player__next-track">
        <object
          type="image/svg+xml"
          data="../../../assets/svg/next.svg"
          width="20px"
          height="20px"
        ></object>
      </button>
    </div>
    <div class="player__progress">
      <nz-progress [nzPercent]="30" [nzShowInfo]="false" class="player__progress-bar"></nz-progress>
      <span class="player__time" *ngIf="{
       foo: musicCurrentTime$ | async
       } as timer">
        {{timer.foo | timeFormat}}
      </span>
    </div>
  </div>
  <div class="player__extra-control">
    <button class="player__volume">
      <object
        type="image/svg+xml"
        data="../../../assets/svg/volume.svg"
        width="15px"
        height="15px"
      ></object>
    </button>
    <button class="player__mixing">
        <object
          type="image/svg+xml"
          data="../../../assets/svg/mixing.svg"
          width="15px"
          height="15px"
        ></object>
    </button>
    <button class="player__repeat" (click)="putOnAutoplay()">
        <object
          type="image/svg+xml"
          data="../../../assets/svg/repeat.svg"
          width="15px"
          height="15px"
        ></object>
    </button>
    <button class="player__add-track">
        <object
          type="image/svg+xml"
          data="../../../assets/svg/add.svg"
          width="15px"
          height="15px"
        ></object>
    </button>
    <button class="player__music-list">
        <object
          type="image/svg+xml"
          data="../../../assets/svg/music-list.svg"
          width="15px"
          height="15px"
        ></object>
    </button>
  </div>
</div>
