<div class="container">
  <div class="player" *ngIf="!drawerVisible">
    <div class="player__current-track" *ngIf="playerService.currentTrackInfo$.getValue()"
         (click)="changeVisiblePlayerControlOnMobile()">
      <img [routerLink]="['/album', playerService.currentTrackInfo$.getValue()!.album.id]"
           src="{{playerService.currentTrackInfo$.getValue()!.album.images[0].url}}" alt="#">
      <div class="player__info-about-track">
        <span [routerLink]="['/artist', playerService.currentTrackInfo$.getValue()!.artists[0].id]"
              class="player__artist-name">{{playerService.currentTrackInfo$.getValue()!.artists[0].name}}</span>
        <span class="player__track-name">{{playerService.currentTrackInfo$.getValue()!.name}}</span>
      </div>
    </div>
    <div class="player__control">
      <div class="player__control-items">
        <button class="player__previous-track">
          <object
            type="image/svg+xml"
            data="../../../assets/svg/previous.svg"
            width="20px"
            height="20px"
          ></object>
        </button>
        <button *ngIf="!(playerService.isPlay$ | async)" class="player__play" (click)="playerService.switchPlayerAction()">
          <object
            type="image/svg+xml"
            data="../../../assets/svg/play.svg"
            width="20px"
            height="20px"
          ></object>
        </button>
        <button class="player__pause" *ngIf="playerService.isPlay$ | async" (click)="playerService.switchPlayerAction()">
          <object
            type="image/svg+xml"
            data="../../../assets/svg/pause.svg"
            width="20px"
            height="20px"
          ></object>
        </button>
        <button class="player__next-track">
          <object
            type="image/svg+xml"
            data="../../../assets/svg/next.svg"
            width="20px"
            height="20px"
          ></object>
        </button>
      </div>
      <div class="player__progress" *ngIf="!isMobile">
        <nz-progress nzTooltipPlacement="topLeft"
                     [nzTooltipOverlayStyle]="playerService.currentTooltipPosition"
                     nz-tooltip=""
                     [nzTooltipTitle]="playerService.currentTrackInfo$.getValue() ? (playerService.timeOnTooltip$ | async | timeFormat) : null"
                     [nzPercent]=playerService.currentPositionOnProgressBar
                     [nzShowInfo]="false"
                     nzStatus="active"
                     class="player__progress-bar"
                     (click)="playerService.changeMusicProgress($event)"
                     (mousemove)="playerService.changeTooltipPosition($event)">
        </nz-progress>
        <span class="player__time">
          {{playerService.musicCurrentTime$.getValue() | timeFormat}}
      </span>
      </div>
    </div>
    <div class="player__extra-control" *ngIf="!isMobile">
      <button class="player__volume">
        <object
          type="image/svg+xml"
          data="../../../assets/svg/volume.svg"
          width="15px"
          height="15px"
        ></object>
      </button>
      <nz-progress [nzShowInfo]="false"
                   [nzPercent]="playerService.musicVolume$ | async"
                   nzStatus="normal"
                   class="player__volume-bar"
                   (click)="playerService.changeMusicVolume($event)">

      </nz-progress>
      <button class="player__mixing">
        <object
          type="image/svg+xml"
          data="../../../assets/svg/mixing.svg"
          width="15px"
          height="15px"
        ></object>
      </button>
      <button class="player__no-repeat" *ngIf="!playerService.isRepeat" (click)="playerService.putOnRepeat()">
        <object
          type="image/svg+xml"
          data="../../../assets/svg/repeat.svg"
          width="15px"
          height="15px"
        ></object>
      </button>
      <button class="player__repeat" *ngIf="playerService.isRepeat" (click)="playerService.putOnRepeat()">
        <object
          type="image/svg+xml"
          data="../../../assets/svg/repeat-active.svg"
          width="15px"
          height="15px"
        ></object>
      </button>
      <button class="player__add-track">
        <object
          type="image/svg+xml"
          data="../../../assets/svg/add.svg"
          width="15px"
          height="15px"
        ></object>
      </button>
      <button class="player__music-list">
        <object
          type="image/svg+xml"
          data="../../../assets/svg/music-list.svg"
          width="15px"
          height="15px"
        ></object>
      </button>
    </div>
  </div>
  <div class="player" *ngIf="!drawerVisible">
  </div>
  <div class="mobile-player" *ngIf="isMobile && playerService.currentTrackInfo$.getValue()">
    <nz-drawer
      nzWrapClassName="mobile-player-drawer"
      [nzClosable]="false"
      nzPlacement="bottom"
      nzHeight="615px"
      [nzVisible]="drawerVisible"
      (nzOnClose)="changeVisiblePlayerControlOnMobile()"
    >
      <ng-container class="mobile-player-contain" *nzDrawerContent>
        <div class="mobile-player-contain__current-track">
          <img src="{{playerService.currentTrackInfo$.getValue()!.album.images[0].url}}" alt="#" class="mobile-player-contain__img">
          <div class="mobile-player-contain__info-about-track">
          <span
            class="mobile-player-contain__artist-name">{{playerService.currentTrackInfo$.getValue()!.artists[0].name}}</span>
            <span
              class="mobile-player-contain__track-name">{{playerService.currentTrackInfo$.getValue()!.name}}</span>
          </div>
        </div>
        <div class="mobile-player-contain__progress">
          <nz-progress
            [nzPercent]=playerService.currentPositionOnProgressBar
            [nzShowInfo]="false"
            nzStatus="active"
            class="mobile-player-contain__progress-bar"
            (click)="playerService.changeMusicProgress($event)"
            (mousemove)="playerService.changeTooltipPosition($event)">
          </nz-progress>
          <span class="mobile-player-contain__time">
          {{playerService.musicCurrentTime$.getValue() | timeFormat}}
      </span>
        </div>
        <div class="mobile-player-contain__control">
          <div class="mobile-player-contain__control-items">
            <button class="mobile-player-contain__previous-track">
              <object
                type="image/svg+xml"
                data="../../../assets/svg/previous.svg"
                width="30px"
                height="30px"
              ></object>
            </button>
            <button *ngIf="!(playerService.isPlay$ | async)" class="mobile-player-contain__play" (click)="playerService.switchPlayerAction()">
              <object
                type="image/svg+xml"
                data="../../../assets/svg/play.svg"
                width="35px"
                height="35px"
              ></object>
            </button>
            <button class="mobile-player-contain__pause" *ngIf="playerService.isPlay$ | async" (click)="playerService.switchPlayerAction()">
              <object
                type="image/svg+xml"
                data="../../../assets/svg/pause.svg"
                width="35px"
                height="35px"
              ></object>
            </button>
            <button class="mobile-player-contain__next-track">
              <object
                type="image/svg+xml"
                data="../../../assets/svg/next.svg"
                width="30px"
                height="30px"
              ></object>
            </button>
          </div>
        </div>
        <div class="mobile-player-contain__extra-control">
          <button class="mobile-player-contain__mixing">
            <object
              type="image/svg+xml"
              data="../../../assets/svg/mixing.svg"
              width="25px"
              height="25px"
            ></object>
          </button>
          <button class="mobile-player-contain__no-repeat" *ngIf="!playerService.isRepeat" (click)="playerService.putOnRepeat()">
            <object
              type="image/svg+xml"
              data="../../../assets/svg/repeat.svg"
              width="25px"
              height="25px"
            ></object>
          </button>
          <button class="mobile-player-contain__repeat" *ngIf="playerService.isRepeat" (click)="playerService.putOnRepeat()">
            <object
              type="image/svg+xml"
              data="../../../assets/svg/repeat-active.svg"
              width="25px"
              height="25px"
            ></object>
          </button>
          <button class="mobile-player-contain__add-track">
            <object
              type="image/svg+xml"
              data="../../../assets/svg/favorite.svg"
              width="25px"
              height="25px"
            ></object>
          </button>
          <button class="mobile-player-contain__music-list">
            <object
              type="image/svg+xml"
              data="../../../assets/svg/music-list.svg"
              width="25px"
              height="25px"
            ></object>
          </button>
        </div>
      </ng-container>
    </nz-drawer>
  </div>
</div>
