<div
  [ngClass]="{ 'container' : !this.themeStateService.getIsDarkTheme() , 'container-dark' : this.themeStateService.getIsDarkTheme() }"
  *ngIf="{
                                track: (playerService.currentTrackInfo$ | async),
                                isPLay: (playerService.isPlay$ | async),
                                isShuffle: (playerService.isShuffle$ | async),
                                musicTimer: (playerService.musicCurrentTime$ | async)
                              } as player">
  <div class="player" *ngIf="!drawerVisible">
    <div class="player__current-track" *ngIf="player.track"
         (click)="openPlayerControlOnMobile(player.track.id)">
      <img style="cursor: default" src="{{player.track.album!.images[0].url}}" alt="#">
      <div class="player__info-about-track">
        <div class="player__artists"
             [ngStyle]="{'transform': 'translateX(' + movingLineCurrentPosition + 'px )', 'width': ARTIST_NAMES_BLOCK_WIDTH + 'px'}"
             (mouseover)="setLineInMotion($event)" (mouseout)="setLineInMotion(null)">
          <p *ngFor="let artist of player.track.artists, let i = index">
            <span *ngIf="i">, </span>
            <span class="player__artist-name" [routerLink]="['/artist', artist.id]">
                {{artist.name}}
              </span>
          </p>
        </div>
        <span class="player__track-name" nz-tooltip="" [nzTooltipMouseEnterDelay]="0.7"
              nzTooltipTitle="{{player.track.name}}"
              nzTooltipPlacement="topLeft">
          {{player.track.name}}
        </span>
      </div>
    </div>
    <div class="player__control">
      <div class="player__control-items">
        <div class="player__previous-track" (click)="this.playerService.switchTrack(actions.SWITCH_PREVIOUS)"></div>
        <div *ngIf="!player.isPLay" class="player__play"
             (click)="playerService.switchPlayerAction()"></div>
        <div class="player__pause" *ngIf="player.isPLay"
             (click)="playerService.switchPlayerAction()"></div>
        <div class="player__next-track" (click)="playerService.switchTrack(actions.SWITCH_NEXT)"></div>
      </div>
      <div class="player__progress" *ngIf="!isMobile">
        <nz-progress nzTooltipPlacement="topLeft"
                     [nzTooltipOverlayStyle]="playerService.currentTooltipPosition"
                     nz-tooltip=""
                     [nzTooltipTitle]="player.track ? (playerService.timeOnTooltip$ | async | timeFormat) : null"
                     [nzPercent]=playerService.currentPositionOnProgressBar
                     [nzShowInfo]="false"
                     nzStatus="active"
                     class="player__progress-bar"
                     (click)="playerService.changeMusicProgress($event)"
                     (mousemove)="playerService.changeTooltipPosition($event)">
        </nz-progress>
        <span class="player__time">
          {{player.musicTimer | timeFormat}}
      </span>
      </div>
    </div>
    <div class="player__extra-control" *ngIf="!isMobile">
      <div class="player__volume" *ngIf="playerService.player.volume"
           (click)="playerService.controlMusicVolume()"></div>
      <div class="player__no-volume" *ngIf="!playerService.player.volume"
           (click)="playerService.controlMusicVolume()"></div>
      <nz-progress [nzShowInfo]="false"
                   [nzPercent]="playerService.musicVolume$ | async"
                   nzStatus="normal"
                   class="player__volume-bar"
                   (click)="playerService.changeMusicVolume($event)">
      </nz-progress>
      <div (click)="playerService.isShuffle$.next(!player.isShuffle)" [ngClass]="{
                            'player__mixing' : !player.isShuffle,
                            'player__mixing-active' : player.isShuffle
                           }">
      </div>
      <div class="player__no-repeat" *ngIf="playerService.isRepeat === repeatState.NO_REPEAT"
           (click)="playerService.putOnRepeat()">
      </div>
      <div class="player__repeat-playlist" *ngIf="playerService.isRepeat === repeatState.PLAYLIST_REPEAT"
           (click)="playerService.putOnRepeat()"></div>
      <div class="player__repeat" *ngIf="playerService.isRepeat === repeatState.TRACK_REPEAT"
           (click)="playerService.putOnRepeat()"></div>
      <button nz-dropdown [nzDropdownMenu]="menu"
              [disabled]="!player.track || !authService.getAuthToken()"
              (click)="getUserPlaylists(player.track!.id)"
              nzTrigger="click"
              nzPlacement="topCenter"
              class="player__add-track">
      </button>
      <div class="player__music-list" (click)="modalVisible ? handleCancel() : handleOpen()"></div>
      <ng-container *ngIf="modalVisible">
        <div class="modal" (click)="handleCancel()" style="z-index: -1">
          <div class="modal__content" (click)="$event.stopPropagation()" [ngStyle]="{'background' : switchMode()}">
            <p class="modal-close" (click)="handleCancel()">x</p>
            <hb-track-list [trackContext]="trackContext" [trackList]="trackList"></hb-track-list>
          </div>
        </div>
      </ng-container>
    </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item *ngIf="!isFavorite"
            (click)="addTrackIntoFavoriteList(player.track!.id)">
          Добавить в избранное
        </li>
        <li nz-menu-item
            *ngIf="isFavorite"
            (click)="removeTrackFromFavoriteList(player.track!.id)">
          Убрать из избранного
        </li>
        <li nz-submenu nzTitle="Добавить в плейлист">
          <ul>
            <li nz-menu-item
                *ngFor="let playlist of userPlaylists"
                (click)="addTrackIntoPlaylist(playlist.id, player.track!.id)">
              {{playlist.name}}
            </li>
          </ul>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <div class="player" *ngIf="!drawerVisible">
  </div>
  <div class="mobile-player" *ngIf="isMobile && player.track">
    <nz-drawer
      nzWrapClassName="mobile-player-drawer"
      [nzClosable]="false"
      [nzBodyStyle]="{'background-color': this.themeStateService.getIsDarkTheme() ? '#37405f' : '#F7F9FE'}"
      nzPlacement="bottom"
      nzHeight="615px"
      [nzVisible]="drawerVisible"
      (nzOnClose)="closePlayerControlOnMobile()">
      <ng-container class="mobile-player-container" *nzDrawerContent>
        <div class="mobile-player-contain"
             [ngClass]="{'mobile-player-contain__dark' : this.themeStateService.getIsDarkTheme() }">
          <div class="mobile-player-contain__current-track">
            <img src="{{player.track.album!.images[0].url}}" alt="#"
                 class="mobile-player-contain__img">
            <div class="mobile-player-contain__info-about-track"
                 [ngStyle]="{'width': ARTIST_NAMES_BLOCK_WIDTH_ON_MOBILE + 'px'}">
              <div class="mobile-player-contain__artists" #artistNames
                   [ngStyle]="{'transform': 'translateX(' + movingLineCurrentPosition + 'px )'}">
                <p *ngFor="let artist of player.track.artists, let i = index">
                  <span *ngIf="i">, </span>
                  <span class="mobile-player-contain__artist-name" [routerLink]="['/artist', artist.id]">
                    {{artist.name}}
                  </span>
                </p>
              </div>
              <span class="mobile-player-contain__track-name">{{player.track.name}}</span>
            </div>
          </div>
          <div class="mobile-player-contain__progress">
            <nz-progress
              [nzPercent]=playerService.currentPositionOnProgressBar
              [nzShowInfo]="false"
              nzStatus="active"
              class="mobile-player-contain__progress-bar"
              (click)="playerService.changeMusicProgress($event)"
              (mousemove)="playerService.changeTooltipPosition($event)">
            </nz-progress>
            <span class="mobile-player-contain__time">
          {{player.musicTimer | timeFormat}}
          </span>
          </div>
          <div class="mobile-player-contain__control">
            <div class="mobile-player-contain__previous-track"
                 (click)="this.playerService.switchTrack(actions.SWITCH_PREVIOUS)"></div>
            <div *ngIf="!player.isPLay" class="mobile-player-contain__play"
                 (click)="playerService.switchPlayerAction()"></div>
            <div class="mobile-player-contain__pause" *ngIf="player.isPLay"
                 (click)="playerService.switchPlayerAction()"></div>
            <div class="mobile-player-contain__next-track"
                 (click)="this.playerService.switchTrack(actions.SWITCH_NEXT)"></div>
          </div>
          <div class="mobile-player-contain__extra-control">
            <div (click)="playerService.isShuffle$.next(!player.isShuffle)" [ngClass]="{
                            'mobile-player-contain__mixing' : !player.isShuffle,
                            'mobile-player-contain__mixing-active' : player.isShuffle
                           }">
            </div>
            <div class="mobile-player-contain__no-repeat" *ngIf="playerService.isRepeat === repeatState.NO_REPEAT"
                 (click)="playerService.putOnRepeat()"></div>
            <div class="mobile-player-contain__repeat-playlist"
                 *ngIf="playerService.isRepeat === repeatState.PLAYLIST_REPEAT"
                 (click)="playerService.putOnRepeat()"></div>
            <div class="mobile-player-contain__repeat" *ngIf="playerService.isRepeat === repeatState.TRACK_REPEAT"
                 (click)="playerService.putOnRepeat()"></div>
            <button class="mobile-player-contain__add-track"
                    *ngIf="!isFavorite"
                    [disabled]="!player.track || !authService.getAuthToken()"
                    (click)="addTrackIntoFavoriteList(player.track!.id)">
              <div class="mobile-player-contain__add-track-img"></div>
            </button>
            <button class="mobile-player-contain__delete-track"
                    *ngIf="isFavorite"
                    [disabled]="!player.track || !authService.getAuthToken()"
                    (click)="removeTrackFromFavoriteList(player.track!.id)">
              <div class="mobile-player-contain__delete-track-img"></div>
            </button>
            <div class="mobile-player-contain__music-list" (click)="handleOpen()"></div>
            <ng-container *ngIf="modalVisible">
              <div class="modal" (click)="handleCancel()">
                <div class="modal__content" (click)="$event.stopPropagation()"
                     [ngStyle]="{'background' : switchMode(), 'height': '90%'}">
                  <p class="modal-close" (click)="handleCancel()">x</p>
                  <hb-track-list [trackContext]="trackContext" [trackList]="trackList"></hb-track-list>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </nz-drawer>
  </div>
</div>
