<div [ngClass]="{ 'container' : !this.themeStateService.getIsDarkTheme() , 'container-dark' : this.themeStateService.getIsDarkTheme()  }">
  <div [ngStyle]="{'display': !artists.length ? 'none' : 'inline'}">
    <h2 class="title">Исполнители</h2>
    <div class="card">
      <div *ngFor="let artist of artists">
        <hb-artist-card [artistInfo]="artist" [followedArtistsId]="followedArtistsId"></hb-artist-card>
      </div>
    </div>
    <button class="addItem" (click)="showMoreArtists()" *ngIf="!isDisabledShowMoreArtists">ЕЩЕ</button>
  </div>
  <div [ngStyle]="{'display': changeTrackList && !changeTrackList.items.length ? 'none' : 'inline'}">
    <h2 class="title">Треки</h2>
    <div class="track-list" *ngFor="let track of changeTrackList?.items">
      <hb-track [isCard]="false" [track]="track.track"
                [trackContext]="trackListContext"
                (playTrack)="setListTrackIntoPlayer()">
      </hb-track>
    </div>
    <button class="addItem" (click)="showMoreTracks()" *ngIf="!isDisabledShowMoreTracks">ЕЩЕ</button>
  </div>
</div>
<hb-loader *ngIf="isLoading"></hb-loader>
<nz-result *ngIf="!artists.length && changeTrackList && !changeTrackList.items.length && !isLoading" nzStatus="404" nzSubTitle="По вашему запросу ничего не найдено."></nz-result>

