<h1 routerLink="/" (click)="authService.signOutOfSpotify()">USER PROFILE</h1>
<hb-player></hb-player>

<div style="display: flex; align-items: center; justify-content: space-between;">
  <div style="width: 30px; height: 30px">
    <hb-loader></hb-loader>
  </div>
  <div style="width: 50px; height: 50px">
    <hb-loader></hb-loader>
  </div>
  <div style="width: 100px; height: 100px">
    <hb-loader></hb-loader>
  </div>
  <div style="width: 200px; height: 200px">
    <hb-loader></hb-loader>
  </div>
</div>
