@import "../../../assets/styles/colors";

:host {
  font-family: 'Roboto', sans-serif;
  width: 1546px;

  @media screen and (min-width: 1280px) and (max-width: 1545px) {
    width: 1280px;
  }

  @media screen and (min-width: 920px) and (max-width: 1279.99px) {
    width: 920px;
  }

  .playlists-wrapper, .playlists-wrapper-dark {
    margin: 50px 0 0 50px;
    width: inherit;

    .playlists {
      display: grid;
      gap: 60px;
      grid-template-columns: 764px 3px 680px;
      grid-template-rows: auto auto auto;

      @media screen and (min-width: 1280px) and (max-width: 1545px) {
        grid-template-columns: 462px 3px 394px;
      }

      @media screen and (min-width: 920px) and (max-width: 1279.99px) {
        grid-template-columns: 323px 3px 361px;
      }

      .playlist__image {
        min-width: 150px;
        height: 150px;
        border-radius: 5px;
        background-position: center;
        background-size: cover;
      }

      .playlist__list {
        .active {
          background-color: @album-playlist-background;
        }

        .playlist__add {
          display: flex;
          flex-direction: row;
          margin-bottom: 50px;
          border-radius: 5px;
          padding: 23px 0 23px 14px;

          &:hover {
            cursor: pointer;
            background-color: @album-playlist-background;

          }

          .playlist__name {
            font-size: 24px;
            margin-left: 30px;

            @media screen and (min-width: 920px) and (max-width: 1279.99px) {
              font-size: 17px;
            }
          }
        }

        .playlist {
          cursor: pointer;
          padding: 23px 0 23px 14px;
          display: flex;
          margin-bottom: 50px;
          border-radius: 5px;

          &:hover{
            background-color: @album-playlist-background;
          }

          .playlist__info {
            margin-left: 30px;

            .playlist__control {
              display: flex;
              margin-bottom: 0;

              .playlist__edit {
                margin-right: 8px;

                &:hover {
                  cursor: pointer;
                  color: @active-link;
                }
              }

              .playlist__delete:hover {
                cursor: pointer;
                color: @active-link;
              }
            }

            .playlist__name {
              margin: 0;
              font-size: 24px;

              @media screen and (min-width: 920px) and (max-width: 1279.99px) {
                font-size: 17px;
              }
            }

            .playlist__owner {
              font-size: 14px;
              font-weight: 200;
              margin-top: 3px;
              margin-bottom: 12px;
            }
          }
        }
      }

      .playlists__hr {
        border: 1px solid #000000;
        height: 100%;
        align-self: center;
        justify-self: center;
      }

      .playlists__tracks {

        .playlists-tracks__playlist {
          display: flex;
          margin-bottom: 30px;

          .playlist-tracks__avatar {

            .playlist-tracks__image {
              width: 150px;
              height: 150px;
              border-radius: 5px;
              background-position: center;
              background-size: cover;
            }

            .playlist-tracks__vinyl {
              z-index: -1;
              width: 185px;
              height: 128px;
              position: absolute;
              transform: translate(30px, 12px);
            }

          }

          .playlist-tracks__info{
            margin-left: 104px;

            .playlist-tracks__name{
              margin: 0;
              font-size: 24px;
            }

            .playlist-tracks__author {
              font-size: 14px;
              font-weight: 100;
            }
          }
        }
      }

      .playlist__waiting {
        display: flex;
        position: fixed;
        top: 27%;
        right: 9%;
        flex-direction: column;
        align-items: center;
        align-content: center;

        @media screen and (min-width:920px) and (max-width: 1279.99px) {
          right: 7%;
        }
        .playlist-waiting__img {
          width: 450px;

          @media screen and (min-width: 920px) and (max-width: 1279.99px) {
            width: 320px
          }
        }

        .playlist-waiting__text {
          margin-top: 35px;
          font-size: 24px;

          @media screen and (min-width:920px) and (max-width: 1279.99px) {
            font-size: 16px;
          }
        }
      }
    }

    .modal {
      position: fixed;
      display: flex;
      justify-content: center;
      z-index: 1;
      padding-top: 50px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);

      &__content {
        z-index: 2;
        overflow: auto;
        padding: 20px 5px 20px 20px;
        width: 450px;
        height: 250px;
        border-radius: 7px;
        position: relative;
      }

      &__title {
        font-weight: bold;
      }

      &__image {
        input {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }

        .modal__label {
          width: 150px;
          height: 30px;
          text-align: center;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.18s ease-in-out;
          border-radius: 5px;
          background-color: #1890ff;
          color: #ffffff;

          &:hover {
            color: #ffffff;
            background-color: #40a9ff;
          }
        }
      }

      &-inputs {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 5px;

        &__name {
          margin-bottom: 5px;
        }

        &__warning {
          color: red;
        }
      }

      &__edite-playlist {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .ant-upload-picture-card-wrapper {
          width: 120px;
        }
      }

      &__control {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          margin: 5px;
        }
      }

      &__content::-webkit-scrollbar {
        width: 7px;
      }
      &__content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgb(182 107 107 / 0.45);
      }
      &__content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        border-radius: 10px;
        background-color: #f9f9fd;
      }
    }
  }

  .playlists-wrapper-dark {
    * {
      color: @white;
    }
    .playlists {
      .playlists__hr {
        border: 1px solid @white;
      }
    }
  }
}
