<p class="user-menu__profile-name">{{userName}}</p>
<div [ngStyle]="{'background-image': 'url(' + imageUrl + ')','background-position': 'center', 'background-size': 'cover', 'background-repeat' :'no-repeat'}" class="user-menu__profile-image" *ngIf="imageUrl"></div>
<i class="user-menu__profile-null-image" *ngIf="!imageUrl" nz-icon nzType="user" nzTheme="outline"></i>
<a class="user-menu__dropdown" nzTrigger="click" nz-dropdown [nzDropdownMenu]="menu">
  <i nz-icon nzType="down"></i>
</a>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item routerLink="/user">Мой профиль</li>
    <li nz-menu-item routerLink="/" (click)="authService.signOutOfSpotify()">Выйти</li>
  </ul>
</nz-dropdown-menu>
