<div [ngClass]="{ 'modal' : !this.themeStateService.getIsDarkTheme() , 'modal-dark' : this.themeStateService.getIsDarkTheme(), 'modal-none' : this.isSidebarOpen}"
     (click)="handleCancel()">
    <div class="navigation"
    (click)="$event.stopPropagation()">

        <div class="logo">
            <a routerLink="/home">
              <div class="logo__img"></div>
            </a>
        </div>

        <nav class="menu">
            <ul class="menu__list" (click)="handleCancel()">
                <li>
                    <a routerLink="/home" [routerLinkActive]="['active']">
                      <div class="menu__list-icon-homepage"></div>
                        <span class="menu__list-link">Главная страница</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/favorite" [routerLinkActive]="['active']">
                        <div class="menu__list-icon-favorites"></div>
                        <span class="menu__list-link">Избранное</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/playlists" [routerLinkActive]="['active']">
                      <div class="menu__list-icon-playlist"></div>
                        <span class="menu__list-link">Плейлисты</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/albums" [routerLinkActive]="['active']">
                      <div class="menu__list-icon-album"></div>
                        <span class="menu__list-link">Альбомы</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/artists" [routerLinkActive]="['active']">
                        <div class="menu__list-icon-singer"></div>
                        <span class="menu__list-link">Исполнители</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="dark-theme" (click)="changeTheme()"></div>
    </div>
</div>

<div [ngClass]="{ 'hamburger' : !this.themeStateService.getIsDarkTheme() , 'hamburger-dark' : this.themeStateService.getIsDarkTheme()}"
        *ngIf="!this.isSidebarOpen"
        (click)="toggleSidebar()"></div>
<div [ngClass]="{'hamburger-close' : !this.themeStateService.getIsDarkTheme() , 'hamburger-close-dark' : this.themeStateService.getIsDarkTheme() }"
        *ngIf="this.isSidebarOpen"
        (click)="toggleSidebar()"></div>
