<!-- Обертка  -->
<div class="navigation">
    <!-- Контент  -->

    <div class="logo">
        <a href="#">
            <img class="logo__img" src="../../../assets/icons/Logotype.svg" alt="logotype">
        </a>
    </div>

    <nav class="menu">
        <ul class="menu__list">
            <li>
                <a routerLink="/">
                    <img class="menu__list-icon" src="../../../assets/icons/homepage.svg" alt="homepage">
                    <span class="menu__list-link">Главная страница</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="menu__list-icon" src="../../../assets/icons/favorites.svg" alt="favorites">
                    <span class="menu__list-link">Избранное</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="menu__list-icon" src="../../../assets/icons/playlist.svg" alt="playlist">
                    <span class="menu__list-link">Плейлисты</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="menu__list-icon" src="../../../assets/icons/album.svg" alt="album">
                    <span class="menu__list-link">Альбомы</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="menu__list-icon" src="../../../assets/icons/singer.svg" alt="singer">
                    <span class="menu__list-link">Исполнители</span>
                </a>
            </li>
        </ul>
    </nav>
</div>