<!-- Обертка  -->
<div class="navigation">
    <!-- Контент  -->

    <div class="logo">
        <a routerLink="/">
            <div class="logo__img"></div>
        </a>
    </div>

    <nav class="menu">
        <ul class="menu__list">
            <li>
                <a routerLink="/">
                    <div class="menu__list-icon-homepage"></div>
                    <span class="menu__list-link">Главная страница</span>
                </a>
            </li>
            <li>
                <a routerLink="/">
                    <div class="menu__list-icon-favorites"></div>
                    <span class="menu__list-link">Избранное</span>
                </a>
            </li>
            <li>
                <a routerLink="/">
                    <div class="menu__list-icon-playlist"></div>
                    <span class="menu__list-link">Плейлисты</span>
                </a>
            </li>
            <li>
                <a routerLink="/">
                    <div class="menu__list-icon-album"></div>
                    <span class="menu__list-link">Альбомы</span>
                </a>
            </li>
            <li>
                <a routerLink="/">
                    <div class="menu__list-icon-singer"></div>
                    <span class="menu__list-link">Исполнители</span>
                </a>
            </li>
        </ul>
    </nav>
</div>