@import "../../../assets/styles/colors";

.artist {
  margin-top: 15px;
  padding-bottom: 100px;
  padding-right: 30px;

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__name {
    font-size: 30px;
  }

  .top-tracks {

    column-width: 700px;

    &__list {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, 1fr);

      @media screen and (max-width: 910px) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__albums {

    .album {

      &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      &__item:hover {
        background-color: @snowy;
        cursor: pointer;
      }
    }
  }
}
