<div class="loader" *ngIf="isLoading">
  <hb-loader></hb-loader>
</div>
<div class="artist" *ngIf="!isLoading && artistInfo">
  <div class="artist__info">
    <div class="artist__img" [ngStyle]="{'background-image' : 'url('+ artistInfo.images[0].url + ')'}"></div>
    <h1 class="artist__name">{{artistInfo.name}}</h1>
    <button class="artist__unfollow" *ngIf="isFollow" (click)="toUnfollowArtist()"></button>
    <button class="artist__follow" *ngIf="!isFollow" (click)="toFollowArtist()"></button>
  </div>
  <div class="artist__top-tracks">
    <div class="top-tracks">
      <h2 class="top-tracks__title">Популярные треки</h2>
      <div class="top-tracks__list">
        <div class="top-tracks__item" *ngFor="let track of artistTopTracks.tracks">
          <hb-track (playTrack)="setListTrackIntoPlayer()" [isCard]="false" [track]="track"
                    [trackContext]="trackContext">
          </hb-track>
        </div>
      </div>
    </div>
  </div>
  <div class="artist__albums" *ngIf="artistAlbums.length">
    <div class="album">
      <h2 class="album__title">Альбомы</h2>
      <div class="album__list">
        <div class="album__item" *ngFor="let album of artistAlbums">
          <hb-album-card [album]="album"></hb-album-card>
        </div>
      </div>
    </div>
  </div>
</div>
