.genres-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and ( max-width: 1140px ) {
        justify-content: space-around;
    }
    .genres {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &:last-child {
            margin-bottom: 100px;
        }
    }
}