<div [ngClass]="{ 'login-wrapper' : !this.themeStateService.getIsDarkTheme() , 'login-wrapper-dark' : this.themeStateService.getIsDarkTheme() }">
  <div class="content">
    <div class="logo"></div>
    <div class="content-text">
      <h1>HeartBeat</h1>
      <h2>Музыка нашего сердцебиения</h2>
      <button (click)="authService.signInWithSpotify()">
        <span>Авторизуйтесь через Spotify</span>
        <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
      </button>
    </div>
  </div>
</div>



