@snowy: #F7F9FE;
@white: #FFFFFF;
@black: #000000;
@transparent: rgba(0, 0, 0, 0);
@background-color: #F2F4F9;
@active-button: #b6b6b6;
@recomendation-border: #868686;
@inactive-header: #7D7D7D;
@background-color-hover: #DDEAFF;
